<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="TestProjectConnString" 
                    connectionString="Data Source=.\sqlexpress;Initial Catalog=ExamDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--
<packages>
  <package id="NUnit" version="3.0.0" targetFramework="net45" />
</packages>-->