<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ExamDBConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ExamDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AzureCon" connectionString="Server=tcp:servermarc.database.windows.net,1433;Database=TestDB;User ID=cphmu@servermarc;Password=Hejmig123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="TestDBConnectionString" connectionString="Data Source=servermarc.database.windows.net;Initial Catalog=TestDB;User ID=cphmu;Password=Hejmig123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>